body {
  background-color: aqua;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#squareContainer {
  position: absolute;
  overflow-x: hidden;
  width: 100%;
}

ul {
  background-color: orange;
  margin: 0;
  padding: 0;
  height: 40px;
}

li {
  background-color: chartreuse;
  height: 100%;
  color: white;
  position: absolute;
  font-size: 22;
  font-weight: bolder;
  list-style-type: none;
}
